.side_headings {
	margin-top: 15px;
	margin-left: 40px;
}
.subhead {
	margin-top: 20px;
	margin-left: 65px;
}

.lastH {
	margin-top: 30px;
	margin-left: 40px;
}

.material-icons {
	margin-top: 2px;
}
