.navtop {
	margin-top: 0;
}

.avatar {
	display: flex;
	height: 50px;
	width: 60px;
	border-radius: 15px;
}
.avatar-image {
	display: flex;
	border-radius: 15px;
	max-height: 100%;
	max-width: 100%;
}
